.nav_bar{display: flex; background-color: rgba(28,28,31); padding: 15px;}
.nav_items{padding:10px; font-weight: bold; color: white; font-size: 20px;cursor: pointer;}
body{background-color: black; color: white;}
.selectBox_wrapper{display: flex;}
.donderList {width: 80%; margin: 0 auto; margin-top: 50px;}
.selectbox_01{padding-left:10px;}
.donderSessionList { margin-top:20px; border-radius: 40px;}
.table { background-color: gray; color: white; font-weight: bold; border-radius: 10px;}
.thead { background-color:rgba(40,40,48);}
.donderRegBtn { padding-left:20px;}
a{text-decoration: none; color: white;}
.memo{ width: 300px;}
.donder_image img {width: 20%; border-radius: 100%;}
.image img { width : 100%}
.login {margin-top:30px;width: 50%; margin: 0 auto;}
.login_wrapper { margin-top: 50px;}
.text_01 { text-align: center;}
.loginBtn { text-align: right;}
.logOut { margin-left: 10px;}
.regForm { width: 60%; margin:  0 auto; margin-top: 100px;}
.input_item { margin-top:10px; margin-bottom: 10px;}